<!doctype html>
<html>
    <head>
        <title>Try Sed</title>
        <link rel="stylesheet" href="/static/css/base.css">
        <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/static/js/base.js"></script>
    </head>
    <body>
        <div id="page" class="rounded">
            <div id="header" class="rounded">
                <h1>Try Sed</h1>
            </div>
            <div id="main">
                <p id="dialog">{{ dialog }}</p>
                <table class="div_center" cellspacing="10">
                    <tbody>
                        <tr>
                            <td class="main_panel">
                                <textarea></textarea>
                            </td>
                            <td class="main_panel">
                                <textarea></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="entry_div" class="div_center">
                    <input id="user_input" type="text" name="input"/>
                </div>
                <div id="input_error"><p>&nbsp;</p></div>
                <input id="reset_step" type="button" value="Reset step"/>
                <input id="get_step" type="button" value="Get step"/>
            </div>
        </div>
    </body>
</html>
